:root {
  --color-primary: #000000;
  --color-on-primary: #ffffff;
  --color-primary-container: #1c1b1b;
  --color-on-primary-container: #858383;
  --color-primary-fixed: #e5e2e1;
  --color-on-primary-fixed: #1c1b1b;
  --color-primary-fixed-dim: #c8c6c5;
  --color-on-primary-fixed-variant: #474746;
  
  --color-secondary: #8c4d42;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #fead9e;
  --color-on-secondary-container: #793e33;
  --color-secondary-fixed: #ffdad4;
  --color-on-secondary-fixed: #380c06;
  --color-secondary-fixed-dim: #ffb4a6;
  --color-on-secondary-fixed-variant: #6f362c;
  
  --color-tertiary: #000000;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #1c1b1a;
  --color-on-tertiary-container: #868381;
  --color-tertiary-fixed: #e5e2df;
  --color-on-tertiary-fixed: #1c1b1a;
  --color-tertiary-fixed-dim: #c9c6c3;
  --color-on-tertiary-fixed-variant: #484745;
  
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  
  --color-background: #fbf9f8;
  --color-on-background: #1b1c1c;
  
  --color-surface: #fbf9f8;
  --color-on-surface: #1b1c1c;
  --color-surface-variant: #e4e2e2;
  --color-on-surface-variant: #444748;
  --color-surface-tint: #5f5e5e;
  --color-surface-bright: #fbf9f8;
  --color-surface-dim: #dbdad9;
  
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f5f3f3;
  --color-surface-container: #efeded;
  --color-surface-container-high: #e9e8e7;
  --color-surface-container-highest: #e4e2e2;
  
  --color-inverse-surface: #303031;
  --color-inverse-on-surface: #f2f0f0;
  --color-inverse-primary: #c8c6c5;
  
  --color-outline: #747878;
  --color-outline-variant: #c4c7c7;
}

html.dark {
  --color-primary: #ffffff;
  --color-on-primary: #303030;
  --color-primary-container: #474746;
  --color-on-primary-container: #c8c6c5;
  --color-primary-fixed: #e5e2e1;
  --color-on-primary-fixed: #1c1b1b;
  --color-primary-fixed-dim: #c8c6c5;
  --color-on-primary-fixed-variant: #474746;
  
  --color-secondary: #ffb4a6;
  --color-on-secondary: #562018;
  --color-secondary-container: #70362b;
  --color-on-secondary-container: #ffdad4;
  --color-secondary-fixed: #ffdad4;
  --color-on-secondary-fixed: #380c06;
  --color-secondary-fixed-dim: #ffb4a6;
  --color-on-secondary-fixed-variant: #6f362c;
  
  --color-tertiary: #c9c6c3;
  --color-on-tertiary: #303030;
  --color-tertiary-container: #484745;
  --color-on-tertiary-container: #e5e2df;
  --color-tertiary-fixed: #e5e2df;
  --color-on-tertiary-fixed: #1c1b1a;
  --color-tertiary-fixed-dim: #c9c6c3;
  --color-on-tertiary-fixed-variant: #484745;
  
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-error-container: #93000a;
  --color-on-error-container: #ffdad6;
  
  --color-background: #141312;
  --color-on-background: #e6e1e0;
  
  --color-surface: #141312;
  --color-on-surface: #e6e1e0;
  --color-surface-variant: #444748;
  --color-on-surface-variant: #c4c7c7;
  --color-surface-tint: #c8c6c5;
  --color-surface-bright: #3a3938;
  --color-surface-dim: #141312;
  
  --color-surface-container-lowest: #0f0e0d;
  --color-surface-container-low: #1c1b1a;
  --color-surface-container: #201f1e;
  --color-surface-container-high: #2b2928;
  --color-surface-container-highest: #363433;
  
  --color-inverse-surface: #e6e1e0;
  --color-inverse-on-surface: #303031;
  --color-inverse-primary: #5f5e5e;
  
  --color-outline: #8e9191;
  --color-outline-variant: #444748;
}
